obj
dobj
doc
*.sw*
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h*
config.log
config.status
depcomp
install-sh
missing
*/.deps
stamp-h1
ar-lib
*.a
config.cc
config.etc
config.share
configure
